[
    {
        "name": "Verify sorted array",
        "files": [ "test/framework.c",
                   "test/alloc-testing.c",
                   "test/test-sortedarray.c",
                   "src/sortedarray.c",
                   "src/compare-int.c" ],
        "compilation_cmd": "-Itest -Isrc -DALLOC_TESTING",
        "machdep": "gcc_x86_32"
    }
]
